In [1]:
import pandas as pd
from sklearn import svm
from sklearn import metrics
from sklearn.model_selection import train_test_split

df = pd.read_csv('Iris.csv')

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [3]:
df['Species'].replace(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], [0,1,2], inplace=True)

In [4]:
X = df.drop(['Species', 'Id'], axis=1).copy()

y = df['Species'].copy()

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df, df['Species'], test_size=0.3, random_state=109)

#70% for train and 30% for test

In [6]:
clf = svm.SVC(kernel='linear')

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

In [10]:
print('Accuracy: ', metrics.accuracy_score(y_test, y_pred))

print('Precision: ', metrics.precision_score(y_test, y_pred, average='micro'))

print('Recall: ', metrics.recall_score(y_test, y_pred, average='micro'))

Accuracy:  1.0
Precision:  1.0
Recall:  1.0